body{
    margin: 0px;
    padding: 0px;
    background: url(images/teemu-paananen-OOE4xAnBhKo-unsplash.jpg);
    background-size: cover;
    font-style: italic;
}
.box{
    width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  padding: 40px;
}
.box h1{
    font-weight: 500;
    color: white;
}
.box input[type="text"],.box input[type="password"]{
    border:0;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    background: none;
    display: block;
    margin: 10px auto;
    font-style: italic;
    padding: 14px 10px;
    border:2px solid #3498db ;
    border-radius:24px;
outline:none;    
transition: 0.25s;
width: 200px;
color:white;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    border-color: #2ecc71;
    width: 280px;
}
.box input[type="submit"]{
    border:0;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    background: none;
    display: block;
    margin: 10px auto;
    font-style: italic;
    padding: 10px;
    border:2px solid #2ecc71;
    border-radius:  24px;
outline:none;    
transition: 0.25s;
width: 100px;
color: white;
cursor: pointer;
}
.box input[type="submit"]:hover{
    background-color: #2ecc71;
}
a{
    text-decoration: none;
    color: teal;
    cursor: pointer;
}