@media (max-width: 768px)
{
    .right-sidebar{
        display: none;
    }
    .right-sidebar-mob{
        display: contents;
    }
    .logo{
        width: 18vw;
        margin-left: 10vw;
    }
    .searchbox, .nav-left ul{
        display: none;
    }
    .user-icon img{
        width: 6vw;
    }
    .online::after{
        height: 0.7vw;
        width: 0.6vw;
    }
    .left-sidebar{
        display: none;
        position: fixed;
        max-width: 80vw;
        transition: display 0.3s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        overflow-x: hidden;
        top: 110%;
        left: 5%;
    }
    .container{
        display: block;
        padding: 1vh 2vw;
    }
    .nav__left__mob{
        display: contents;
    }
    .stories{
        margin-bottom: 1.5vh;
    }
    .story{
        border-radius: 1.5vw;
    }
    .story img{
        width: 8vw;
        border: 0.3vh solid #1876f2;
    }
    .story p{
        font-size: 2.8vw;
    }
    .story.story1 img{
        top: 65%;
        left: 35%;
        width: 6vw;
    }
    .write-post{
        border-radius: 1.5vw;
    }
    .user-profile img{
        width: 7vw;
        margin-right: 1vw;
    }
    .user-profile small{
        font-size: 3vw;
    }
    .post-links{
        margin-top: 0.7vh;
    }
    .post-links a{
        font-size: 3vw;
    }
    .post-links a img{
        width: 3.5vw;
    }
    .post{
        margin: 2vw 0;
        border-radius: 1.5vw;
    }
    .user-profile span{
        font-size: 3vw;
    }
    .post-text{
        font-size: 2.5vw;
    }
    .post-img{
        border-radius: 1.5vw;
    }
    .post-profile-icon{
        display: none;
    }
    .activity-icons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 7vw;
    }
    .activity-icons div{
        margin: 0 3vw;
        padding: 0 5vw;
        text-align: center;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;        
    }
    .activity-icons div img{
        width: 3vw;
    }
    .load-more{
        opacity: 0.5;
    }
    footer p{
        margin: 1vh 0;
    }
    .settings{
        max-width: 80vw;
        overflow-y: visible;
        border-radius: 1.2vw;
    }
    .settings-height{
        max-height: 70vh;
    }
    .user-profile a{
        font-size: 2.3vw;
    }
    .settings__links{
        margin: 1.3vh;
    }
    .setting__links .setting-icon{
        width: 7vw;
        margin-right: 2vw;
    }
    .setting__links a{
        margin-right: 2vw;
    }
    #dark-btn{
        right: 3vw;
        width: 6vw;
        border-radius: 1.5vw;
        padding: 0.1vh 0.2vw;
    }
    #dark-btn span{
        width: 3vw;
    }
    #dark-btn.dark-btn-on{
        padding-left: 2.2vw;
    }
    .right-side-title{
        margin: 0 2vw 1.5vh 1.3vw;
    }
    .right-sidebar-mob h4{
        font-size: 4vw;
    }
    .right-side-title a{
        font-size: 2.3vw;
    }
    .event{
        padding-left: 2vw;
        font-size: 2.5vw;
        margin-bottom: 2vh;
    }
    .left-eve{
        width: 12vw;
        margin-right: 2vw;
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.534);
    }
    .event p{
        font-size: 2.5vw;
    }
    .event a{
        font-size: 2.3vw;
    }
    .left-eve span{
        font-size: 2.5vw;
    }
    .sidebar-ad{
        width: 95%;
        margin: 0 2vw 2vh 2vw;
    }
    .online-list .online img{
        width: 7vw;
        margin-left: 2vw;
    }
    .online-list .online{
        width: 3vw;
        margin-right: 7vw;
    }
    .online-list .online::after{
        bottom: 0.8vh;
        left: 7.5vw;
    }
    .left-sidebar-mob{
        display: contents;
    }
    .imp-links a, .shortcut-links a{
        margin-bottom: 2vh;
    }
    .imp-links a img{
        width: 7vw;
        margin-right: 2vw;
    }
    .shortcut-links a img{
        width: 10vw;
    }
}