
.about{
    position: relative;
    right: 255px;
    margin: 15px;
    width: 650px;
    /* height: 500px; */
    border: solid maroon;
    background-color: rgb(230, 207, 179);
    border-radius: 28px;
    padding: 36px;
}

.cover{
margin: 1px;
border: black solid;
height: 404px;  
width: 1055px;
}
.profiletotal{
border: black solid;
/* height: 4004px;   */
margin: 15px;
width: 1061px;
}
.coverdown{
  margin: 25px;
  margin-top: -275px;
  height: 245px;
  width: 1015px;
}
.prfl{
  float: left;
  width: 250px;
  height: 250px;
  clip-path: circle();
}
.posts{
  margin: 15px;
  margin-top: 25px;
    border: black solid;
    height: 550px;
    width: 995px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-top: 55px;
    margin-right: -500px;
    margin-left: 20px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}