*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body{
    background: var(--body-color);
    transition: 0.3s;
}
nav{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 0.8vh 5%;
}
.right-sidebar-mob{
    display: none;
}
.logo{
    width: 10vw;
    margin-right: 2.8vw;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav__left__mob{
    display: none;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 1.7vw;
    margin: 0 0.9vw;
}
.user-icon img{
    width: 2.4vw;
    border-radius: 50%;
    cursor: pointer;
}
.user-icon{
    margin-left: 1.7vw;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 0.45vw;
    height: 1vh;
    border: 2px solid white;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.searchbox{
    background: #efefef;
    width: 20vw;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.searchbox input{
    width: 100vw;
    outline: none;
    border: #efefef;
    background: transparent;
    padding: 0.6vw;
}
.searchbox img{
    width: 1.1vw;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 8.5vh;
    align-self: flex-start;
}
.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 8.5vh;
    background: var(--bg-color);
    padding: 1.2vw;
    border-radius: 0.25vw;
    color: #626262;
}
.main-content{
    flex-basis: 47%;
}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 3.5vh;
    color: #7c7c7c;
    width: fit-content;
}
.imp-links a img{
    width: 1.4vw;
    margin-right: 1vw;
}
.imp-links a:last-child{
    color: #1876f2
}
.imp-links{
    border-bottom: 1px solid gray;
}
.shortcut-links a img{
    width: 2.4vw;
    margin-right: 1vw;
    border: 0.7px solid black;
    border-radius: 50%;
}
.shortcut-links p{
    margin: 3vh 0;
    color: black;
    font-weight: 500;
}
.right-side-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.1vh;
}
.right-sidebar h4{
    font-weight: 600;
    font-size: 1vw;
}
.right-side-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 0.75vw;
}
.event{
    display: flex;
    font-size: 0.9vw;
    margin-bottom: 1.2vw;
}
.left-eve{
    border-radius: 0.6vw;
    height: 7.5vh;
    width: 3.8vw;
    margin-right: 1vw;
    padding-top: 1.1vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1.5vh rgba(0, 0, 0, 0.534);
}
.event p{
    font-size: 0.75vw;
}
.event a{
    font-size: 0.75vw;
    text-decoration: none;
    color: #1876f2;
}
.left-eve span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: var(--bg-color);
    font-size: 0.6vw;
    padding: 0.5vh 0;
}
.sidebar-ad{
    width: 100%;
    margin-bottom: 2.5vh;
    border-radius: 0.25vw;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
}
.online-list .online img{
    width: 2.4vw;
    border-radius: 50%;
}
.online-list .online{
    width: 2.4vw;
    border-radius: 50%;
    margin-right: 1vw;
}
.online-list .online::after{
    top: unset;
    bottom: 0.5vh;
}
.stories{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5vh;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 0.6rem;
}
.story img{
    position: absolute;
    width: 2.4vw;
    border-radius: 50%;
    top: 1.1vh;
    left: 0.6vw;
    border: 0.6vh solid #1876f2;
}
.story p{
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;
    color: var(--bg-color);
    font-size: 0.9vw;
}
.story{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url(images/status-1.png);
}
.story2{
    background-image: url(images/status-2.png);
}
.story3{
    background-image: url(images/status-3.png);
}
.story4{
    background-image: url(images/status-4.png);
}
.story5{
    background-image: url(images/status-5.png);
}
.story.story1 img{
    top: 62%;
    left: 30%;
    border: 0;
    width: 2.1vw;
}

.write-post{
    width: 100%;
    background: var(--bg-color);
    border-radius: 0.38vw;
    padding: 1.2vw;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 2.8vw;
    border-radius: 50%;
    margin-right: 0.6vw;
}
.user-profile p{
    margin-bottom: -0.5vh;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 0.75vw;
}

.post-input{
    padding-left: 3.4vw;
    padding-top: 2.5vh;
}
.post-input textarea{
    width: 100%;
    border: 0;
    outline: 0;
    background: var(--bg-color);
    border-bottom: 1px solid #ccc;
    resize: none;
}
.post-links{
    display: flex;
    margin-top: 1.1vh;
}
.post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 1.8vw;
    font-size: 0.8vw;
}
.post-links a img{
    width: 1.2vw;
    margin-right: 0.6vw;
}

.post{
    width: 100%;
    background: var(--bg-color);
    border-radius: 0.4vw;
    padding: 1.2vw;
    color: #626262;
    margin: 2.5vh 0;
}
.user-profile span{
    font-size: 0.8vw;
    color: #9a9a9a;
    padding-top: 1px;
}
.post-text{
    color: #9a9a9a;
    margin: 2vh 0;
    font-size: 1vw;
}
.post-text span{
    color: #626262;
    font-weight: 500;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 0.25vw;
    margin-bottom: 0.5vh;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 1vw;
    margin-right: 0.6vw;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 1.8vw;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 1.2vw;
    border-radius: 50%;
    margin-right: 0.3vw;
}
.post-row a{
    color: #9a9a9a;
}

.load-more{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 0.5vh 0.6vw;
    border: 1px solid #9a9a9a;
    color: #1f1414;
    background: transparent;
    opacity: 0.8;
    border-radius: 0.25vw;
}
footer p{
    text-align: center;
    color: #9a9a9a;
    opacity: 0.6;
    margin: 3vh 0;
}

.settings{
    position: absolute;
    width: 90%;
    max-width: 20vw;
    max-height: 0;
    transition: max-height 0.3s;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 0.25vw;
    overflow: hidden;
    top: 110%;
    right: 5%;
}

.settings-height{
    max-height: 48vh;
}

.user-profile a{
    font-size: 0.7vw;
    text-decoration: none;
    color: #1876f2;
}
.inner__settings{
    padding: 1.1vw;
}
.settings hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 2vh 0;
}
.setting__links{
    display: flex;
    align-items: center;
    margin: 2vh 0;
}
.setting__links .setting-icon{
    width: 2.1vw;
    margin-right: 0.6vw;
    border-radius: 50%;
}
.setting__links a{
    text-decoration: none;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: #626262;
}
#dark-btn{
    position: absolute;
    top: 2.5vh;
    right: 1.1vw;
    background: #ccc;
    width: 2.6vw;
    border-radius: 0.8vw;
    padding: 0.2vh 0.2vw;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 1vw;
    height: 2.1vh;
    background: white;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 1.4vw;
    background: #0c0c0c;
    transition: padding-left 0.5s, background 0.5s;
}