body{
    margin: 0px;
    padding: 0px;
    background-color: #e2d9df;
    font-style: italic;
}

.pic1 {
    width: 400px;
    float: left;
    margin-left: 211px;
    margin-top: 80px;
}
.outerbox{
    height: 401px;
    margin-top: 62px;
}

.box {
    margin-right: 190px;
    margin-top: 30px;
    width: 450px;
    height: 385px;
    /* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%); */
    color: white;
    /* background-color: black; */
    padding: 20px;
    text-align: center;
    border: solid 5px darkorange;
    border-radius: 50px;
    padding: 40px;
}
.box h1{
    font-weight: 500;
    color: rgb(81, 81, 240);
}
.box input[type="text"],.box input[type="password"]{
    border:0;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    background: none;
    display: block;
    margin: 10px auto;
    font-style: italic;
    padding: 14px 10px;
    border:2px solid #3498db ;
    border-radius:24px;
outline:none;    
transition: 0.25s;
width: 200px;
color:black;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    border-color: #2ecc71;
    width: 280px;
}
.box input[type="submit"]{
    border:0;
    border-radius: 100px;
    padding: 10px;
    text-align: center;
    background: none;
    display: block;
    margin: 10px auto;
    font-style: italic;
    padding: 10px;
    border:2px solid #2ecc71;
    border-radius:  24px;
outline:none;    
transition: 0.25s;
width: 100px;
color: green;
cursor: pointer;
}
.box input[type="submit"]:hover{
    background-color: #2ecc71;
}
a{
    text-decoration: none;
    color: teal;
    cursor: pointer;
}